report {
    enabled = true
    file = 'reports/report.html'
	overwrite = true
}

trace {
    enabled = true
    file = 'reports/trace.txt'
	overwrite = true
}

timeline {
    enabled = true
    file = 'reports/timeline.html'
	overwrite = true
}

dag {
    enabled = true
    file = 'reports/dag.dot'
	overwrite = true
}

executor {
    name = 'slurm'
    queueSize = 1000
    pollInterval = '5 sec'
}

process {	
	executor='slurm'
	scratch=false
	maxRetries=3
	
	withName: 'generation_param' {
	  queue='common,dedicated' 
	  clusterOptions='--qos=ultrafast'
	}
	
	withName: 'simulation' {
	  queue='common' 
	  memory = '5 GB' 
	  clusterOptions='--qos=normal'
	}
}

