.Rproj.user
.Rhistory
*.RData
.Ruserdata 
not-relevant
misc
*.jpg
.vscode
.Rpackages
*.o
R_libs_4.3.1
*.html
sim-nodscov2
*.gif
*.mp4
*.tar
*.zip
*.gz
*.tar.gz
infection-network_files
*.7z
*.DS_Store

# Old cpp files and binaries
cpp/deprecated/
cpp/i-bird/
cpp/old/
cpp/*.o

# Data from other studies
data/data-i-bird/
data/data-nodscov2/
data/data-synthetic-graphs/old/
data/data-synthetic-graphs/biased/
data/data-synthetic-graphs/full/
data/data-synthetic-graphs/input/

# Figures
fig/loc-reconstruction/trajectories-gif.gif
fig/loc-reconstruction/individual-paths/
fig/symmetrization/
fig/network_comparison/metrics_biased.png
fig/network_comparison/metrics_biased_notruncation.png
fig/network_comparison/metrics_full_notruncation.png
fig/network_comparison/recurring_contacts_biased.png
fig/network_comparison/unique_contacts_biased.png
fig/network_comparison/unique_contacts_biased_notruncation.png
fig/network_comparison/unique_contacts_full_notruncation.png

# Simulated data
out/final-simulations/
out/grid-search/
out/parameters-synthetic*.rda
out/old/

# Nextflow for cluster calculation
grid_search/
nextflow_grid_search/
nextflow_interventions/merge.sh
nextflow_interventions/results/simu/
nextflow_interventions/clean.sh
nextflow_sensitivity/clean.sh
nextflow_sensitivity/results/simu/

# Codes with paths used on the cluster
cluster/

# Results
out/

# Old codes or on another dtaset
R/i-bird/
R/fig-qleclerc/
R/nodscov2/deprecated/
R/nodscov2/dictionaries_hospitals.R
R/nodscov2/1.compare_processed_data.R
R/nodscov2/2.generate-data.R
R/nodscov2/launch-simulation-example.R
R/nodscov2/scenarios-analysis.R
R/nodscov2/scenarios-figures.R
R/nodscov2/verif.R

